<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
	<div class="ibox-content">
		<div class="fixed-table-toolbar">
			<div class="columns pull-left">
				<button shiro:hasPermission="bio:summary:add" type="button" class="btn  btn-primary" onclick="add()">
					<i class="fa fa-plus" aria-hidden="true"></i>添加
				</button>
				<button shiro:hasPermission="bio:summary:batchRemove" type="button" class="btn  btn-danger"
						onclick="batchRemove()">
					<i class="fa fa-trash" aria-hidden="true"></i>删除
				</button>
				<div class="btn-group">
					<a class="btn btn-default btn-outline" type="button" name="refresh" title="刷新表格" onclick="reLoad()">
						<i class="glyphicon glyphicon-refresh icon-refresh"></i>
					</a>
					<a class="btn btn-default btn-outline" type="button" name="toggle" title="小组周报详情" onclick="getSummaryView()">
						<i class="glyphicon glyphicon-list-alt icon-list-alt"></i>
					</a>
					<a class="btn btn-default btn-outline" type="button" name="toggle" title="批量下载附件">
						<i class="glyphicon  glyphicon-download-alt icon-download-alt"></i>
					</a>
				</div>
			</div>
			<div class="columns pull-right">
				<button type="button" class="btn btn-primary" onclick="submit()">提交</span>
				</button>
			</div>
		</div>
		<table id="summaryTable" data-mobile-responsive="true">
		</table>
	</div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 -->
<div>
	<script type="text/javascript">
		var s_edit_h = 'hidden';
		var s_remove_h = 'hidden';
	</script>
</div>
<div shiro:hasPermission="bio:summary:edit">
	<script type="text/javascript">
		s_edit_h = '';
	</script>
</div>
<div shiro:hasPermission="bio:summary:remove">
	<script type="text/javascript">
		var s_remove_h = '';
	</script>
</div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/bio/summary/summary.js" th:src="@{/js/appjs/bio/summary/summary.js}"></script>
</body>
</html>