<!DOCTYPE html>
<html>
<meta charset="utf-8">
<style>
	.table-hover>tbody>tr:hover {
		background-color: white!important;
	}
</style>
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
	<div class="ibox-content">
		<h3 th:utext=${title} style="text-align: center;margin-bottom: -25px"></h3>
			<button type="button" style="float: right;margin-bottom: 5px;" class="btn btn-primary" onclick="submitSuggestion()">保存意见</span>
			</button>
		<table id="reportsTable" data-mobile-responsive="true" style="background-color:white" >
		</table>
	</div>
</div>

<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/bio/summary/meet.js" th:src="@{/js/appjs/bio/summary/meet.js}"></script>
<script src="/js/bootstrap-datetimepicker.min.js" th:src=" @{/js/bootstrap-datetimepicker.min.js}"></script>
<script th:inline="javascript">

	var topicReportDetailsList=[[${topicReportDetailsList}]]
</script>
</body>

</html>