<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
	<div class="ibox-content">
				<div class="fixed-table-toolbar">
					<div class="columns pull-left">
						<div class="btn-group">
							<a class="btn btn-default btn-outline" type="button" name="refresh" title="刷新表格" onclick="reLoad()">
								<i class="glyphicon glyphicon-refresh icon-refresh"></i>
							</a>
							<a class="btn btn-default btn-outline" type="button" name="toggle" title="小组周报详情" onclick="getSummaryView()">
								<i class="glyphicon glyphicon-list-alt icon-list-alt"></i>
							</a>
							<a class="btn btn-default btn-outline" type="button" name="toggle" title="批量下载已选择的附件" onclick="batchExport1()">
								<i class="glyphicon  glyphicon-download-alt icon-download-alt"></i>
							</a>
						</div>
					</div>
					<div class="columns pull-right">
						<button type="button" id="summarySubmit" class="btn btn-primary" onclick="submit()">提交</span>
						</button>
					</div>
				</div>
				<table id="summaryTable" data-mobile-responsive="true">
				</table>
			</div>
</div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/bio/summary/summary.js" th:src="@{/js/appjs/bio/summary/summary.js}"></script>
</body>
</html>