<head>
<title>Mail From SWEDashboard</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" charset="UTF-8" />
</head>

<body>
	<div>
		<p>亲爱的${name}老师，</p>
		<p>
			截止到现在，swe小组各专题周报已全部提交完毕，SWEDashboard 为您汇总了周报内容，详情请查阅附件！<br />

		<p>您也可以登录系统进一步查看完整的统计信息和明细列表。</p>

		<br /> SWEDashboard 致力于让老师的管理更轻松，让同学们的科研更高效透明，让生活更美好！<br /> 欢迎在
		Github 上给我们提 Bug 或者 建议，众人拾柴火焰高！<br /> <br /> SWEDashboard 登录网址：<a
			href='${url}' target='_blank'>${url}</a><br />
		</p>

		<p>
			祝好, <br /> SWEDashboard 团队 敬上 <br />
		</p>

		<div>*温馨提示:请不要直接回复此邮件哦：）</div>
	</div>
</body>
</html>



