<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header">
</head>
<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="ibox-content">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#person" data-toggle="tab">个人</a></li>
            <li role="presentation"><a href="#topic" data-toggle="tab">专题</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="person" style="padding: 15px 0px 0px 0px">
                <div class="row">
                    <div class="col-sm-2">
                        <label >人员：</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="姓名" id="userName">
                            <span class="input-group-btn">
                                        <button class="btn btn-default btn-outline" onclick="selectUser()" type="button">
                                            <i class="glyphicon glyphicon-th icon-th"></i>
                                        </button>
                                    </span>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>开始日期：</label>
                            <!--指定 date标记-->
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon btn-default btn-outline" >
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="form-inline">结束日期：</label>
                            <!--指定 date标记-->
                            <div class='input-group date' id='datetimepicker2'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon btn-default btn-outline">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label>类型：</label>
                        <select class="form-control" id="WeekMonth">
                            <option th:value="1" selected>周报</option>
                            <option th:value="2">月报</option>
                        </select>
                    </div>
                    <div class="col-sm-3" style="padding-top: 22px">
                        <div class="columns pull-left">
                            <button class="btn  btn-success" onclick="query()" type="button">
                                <i aria-hidden="true" class="fa fa-search"></i>查询
                            </button>
                        </div>
                    </div>

                </div>
                <div class="row" >
                    <div class="colums pull-left">
                        <button class="btn  btn-primary" onclick="batchExport()" type="button">
                            <i aria-hidden="true" class="fa fa-download"></i>批量导出
                        </button>
                    </div>
                    <div  id="searchKey" >
                        <div class="columns pull-right">
                            <button class="btn btn-success" onclick="Keyquery()">搜索</button>
                        </div>
                        <div class="columns pull-right col-md-2 nopadding">
                            <input id="searchName" type="text" class="form-control" placeholder="请输入关键字">
                        </div>
                    </div>
                </div>

                <div class="row" style="margin: 0">
                    <table id="queryTable" data-mobile-responsive="true" style="word-break:break-all;table-layout:fixed">
                    </table>
                </div>
            </div>

            <div class="tab-pane fade" id="topic"  style="padding: 15px 0px 0px 0px">
                <div class="row">
                    <div class="col-sm-2">
                        <label >专题：</label>
                        <select class="form-control" id="topicName">
                            <option th:value="智慧地球"selected>智慧地球</option>
                            <option th:value="张翔专题" >张翔专题</option>
                            <option th:value="杜文英专题">杜文英专题</option>
                            <option th:value="陈泽强专题">陈泽强专题</option>
                        </select>

                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>开始日期：</label>
                            <!--指定 date标记-->
                            <div class='input-group date' id='datetimepicker_t1'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon btn-default btn-outline">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="form-inline">结束日期：</label>
                            <!--指定 date标记-->
                            <div class='input-group date' id='datetimepicker_t2'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon btn-default btn-outline">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label>类型：</label>
                        <select class="form-control" id="WeekMonth1">
                            <option th:value="1" selected>周报</option>
                            <option th:value="2">月报</option>
                        </select>
                    </div>
                    <div class="col-sm-3" style="padding-top: 22px">
                        <div class="columns pull-left">
                            <button class="btn  btn-success" onclick="query1()" type="button">
                                <i aria-hidden="true" class="fa fa-search" style="padding-right: 5px"></i>查询
                            </button>
                            <button class="btn  btn-primary" onclick="batchExport1()" type="button">
                                <i aria-hidden="true" class="fa fa-download" style="padding-right: 5px"></i>批量导出
                            </button>
                        </div>
                    </div>
                </div>
                <blockquote style="background: #d2e4e8;margin: 10px 0 10px 0">
                    <h4>此处导出的是专题（或整个小组）的周报汇总表</h4>
                </blockquote>
                <div class="row" style="margin: 0">
                    <table id="queryTable_t" data-mobile-responsive="true" style="word-break:break-all;table-layout:fixed">
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script src="https://cdn.bootcss.com/moment.js/2.22.0/moment-with-locales.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/bootstrap-datetimepicker.js" th:src=" @{/js/bootstrap-datetimepicker.js}"charset="UTF-8"></script>
<script src="/js/bootstrap-datetimepicker.zh-CN.js" th:src=" @{/js/bootstrap-datetimepicker.zh-CN.js}" charset="UTF-8"></script>
<script src="/js/bootstrap-datetimepicker.fr.js" th:src=" @{/js/bootstrap-datetimepicker.fr.js}" charset="UTF-8"></script>
<script type="text/javascript" src="/js/appjs/bio/query/query.js" th:src="@{/js/appjs/bio/query/query.js}"></script>
<script type="text/javascript">
    $('#datetimepicker1').datetimepicker({
        minView:"month",
        format: 'yyyy-mm-dd',
        autoclose:true,
        weekStart:1,
        language:'zh-CN'
    }).on("click",function () {
        $('#datetimepicker1').datetimepicker("setEndDate", $("datetimepicker2").val() )
    });
     $('#datetimepicker2').datetimepicker({
         minView:"month",
         format: 'yyyy-mm-dd',
         autoclose:true,
         weekStart:1,
         language:'zh-CN'
    }).on("click",function () {
        $('#datetimepicker2').datetimepicker("setStartDate", $("datetimepicker1").val() )
    });
    $('#datetimepicker_t1').datetimepicker({
        minView:"month",
        format: 'yyyy-mm-dd',
        autoclose:true,
        weekStart:1,
        language:'zh-CN'
    }).on("click",function () {
        $('#datetimepicker_t1').datetimepicker("setEndDate", $("datetimepicker_t2").val() )
    });
   $('#datetimepicker_t2').datetimepicker({
        minView:"month",
        format: 'yyyy-mm-dd',
        autoclose:true,
        weekStart:1,
        language:'zh-CN'
    }).on("click",function () {
        $('#datetimepicker_t2').datetimepicker("setStartDate", $("datetimepicker_t1").val() )
    });
</script>
</body>
</html>