<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<h3>周报统计</h3>
					<div class="row" style="margin: 0">
						<table id="statisticsTable" data-mobile-responsive="true">
						</table>
					</div>



					<h3>周报详情</h3>
					<div class="row" style="margin: 0">
						<table id="reportsTable" data-mobile-responsive="true">
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/bio/topic/weekInfo.js" th:src="@{/js/appjs/bio/topic/weekInfo.js}"></script>
<script th:inline="javascript">
	var topicReportStatisticList=[[${topicReportStatisticList}]]
	var topicReportDetailsList=[[${topicReportDetailsList}]]
</script>
</body>

</html>