<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
	<div class="ibox-content">
				<h3 th:utext=${title} style="text-align: center;margin-bottom: 20px"></h3>

				<table id="statisticsTable" data-mobile-responsive="true">
				</table>

				<table id="reportsTable" data-mobile-responsive="true">
				</table>

			</div>
</div>

<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/bio/topic/weekInfo.js" th:src="@{/js/appjs/bio/topic/weekInfo.js}"></script>
<script th:inline="javascript">
	var topicReportStatisticList=[[${topicReportStatisticList}]]
	var topicReportDetailsList=[[${topicReportDetailsList}]]
</script>
</body>

</html>