<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bio.sys.dao.ReportContentDao">
    <update id="updateByUUID" parameterType="com.bio.sys.domain.ReportContentDO">
		update report_content
		<trim prefix="set" suffixOverrides=",">
			<if test="reportContent.id!=null">id=#{reportContent.id},</if>
			<if test="reportContent.uuid!=null">uuid=#{reportContent.uuid},</if>
			<if test="reportContent.lastPlan!=null">last_plan=#{reportContent.lastPlan},</if>
			<if test="reportContent.summary!=null">summary=#{reportContent.summary},</if>
			<if test="reportContent.nextPlan!=null">next_plan=#{reportContent.nextPlan},</if>
			<if test="reportContent.problem!=null">problem=#{reportContent.problem},</if>
		</trim>
		where uuid = #{reportContent.uuid}
  </update>

	<select id="getByUUID" resultType="com.bio.sys.domain.ReportContentDO">
		SELECT
		*
		FROM
		report_content
		WHERE
		uuid = #{uuid}
	</select>


	<select id="getSearchKey" resultType="com.bio.sys.domain.ReportContentDO">
		select rc.* from report_content rc,report re where concat (rc.last_plan,rc.summary,rc.next_plan,rc.problem) like concat('%',#{searchKey},'%') and re.status_l_sub=1 and rc.uuid=re.content_id order by re.dept_name,re.author_name,re.r_from_date
	</select>

</mapper>