<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bio.sys.dao.ReportDao">
	<select id="getLatestReport"
		resultType="com.bio.sys.domain.ReportDO">
		SELECT
		*
		FROM
		report
		WHERE
		author_id = #{authorid} and r_to_date
		<![CDATA[ < ]]>
		#{rfromdate}
		ORDER BY
		r_to_date DESC
		LIMIT 1
	</select>

	<select id="getReportCountByTitle" resultType="int">
		select count(*)
		from report where title = #{value}
	</select>


	<select id="getReports" resultType="com.bio.sys.domain.ReportDO">
		SELECT
		*
		FROM
		report
		WHERE
		r_from_date = #{fromdate}
		AND r_to_date = #{todate}
		AND status_mod = #{status}
	</select>


	<select id="getReportsCount" resultType="com.bio.sys.domain.ReportCountDO">
		SELECT dept_id as deptId,
		count(dept_id) as countNumber
		FROM
		report 
		WHERE
		r_from_date = #{fromdate}
		AND r_to_date = #{todate}
		AND status = #{status} GROUP BY dept_id
	</select>
	<select id="getReportsByTitle" resultType="com.bio.sys.domain.ReportDO">
		select * from report where title = #{title}
	</select>

	<select id="getReportsByDepName" resultType="com.bio.sys.domain.ReportDO">
		select * from report where dept_name = #{depName} order by author_name,r_from_date
	</select>

	<select id="getReportsQuery" resultType="com.bio.sys.domain.ReportDO">
		SELECT
		*
		FROM
		report
		<where>
		    <if test="fromdate!=null">
				 r_from_date &gt;= #{fromdate}
	     	</if>
			<if test="todate!=null">
		       AND r_to_date &lt;= #{todate}
			</if>
		AND status_mod = #{status}
		</where>
		order by dept_name,author_name, r_from_date
	</select>

	<select id="getReportsByContentId" resultType="com.bio.sys.domain.ReportDO">
		select * from report where content_id=#{contentId}
	</select>

	<select id="getReportsByAutName" resultType="com.bio.sys.domain.ReportDO">
		select * from report where author_name = #{AutName}
	</select>

	<select id="getReportsAll" resultType="com.bio.sys.domain.ReportDO">
		select * from report order by dept_name,author_name, r_from_date
	</select>
	
	<select id="getReportsByMonth" resultType="com.bio.sys.domain.ReportDO">
		select * from report where (month(r_from_date)=#{date} or month(r_to_date)=#{date}) and status_mod = #{status} order by dept_name,author_name, r_from_date
	</select>

</mapper>