<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bio.sys.dao.ReportDao">
	<select id="getLatestReport"
		resultType="com.bio.sys.domain.ReportDO">
		SELECT
		*
		FROM
		report
		WHERE
		author_id = #{authorid} and r_to_date
		<![CDATA[ < ]]>
		#{rfromdate}
		ORDER BY
		r_to_date DESC
		LIMIT 1
	</select>

	<select id="getReportCountByTitle" resultType="int">
		select count(*)
		from report where title = #{value}
	</select>


	<select id="getReports" resultType="com.bio.sys.domain.ReportDO">
		SELECT
		*
		FROM
		report
		WHERE
		r_from_date = #{fromdate}
		AND r_to_date = #{todate}
		AND status_mod = #{status}
	</select>


	<select id="getReportsCount" resultType="com.bio.sys.domain.ReportCountDO">
		SELECT dept_id as deptId,
		count(dept_id) as countNumber
		FROM
		report 
		WHERE
		r_from_date = #{fromdate}
		AND r_to_date = #{todate}
		AND status_m_sub = #{status} GROUP BY dept_id
	</select>

	<select id="getReportsByTitle" resultType="com.bio.sys.domain.ReportDO">
		select * from report where title = #{title}
	</select>

	<select id="getReportsByDepName" resultType="com.bio.sys.domain.ReportDO">
		select * from report where dept_name = #{depName} and  status_l_sub=1 order by author_name,r_from_date
	</select>

	<select id="getReportsQuery" resultType="com.bio.sys.domain.ReportDO">
		SELECT
		*
		FROM
		report
		<where>
		    <if test="fromdate!=null">
				 r_from_date &gt;= #{fromdate}
	     	</if>
			<if test="todate!=null">
		       AND r_to_date &lt;= #{todate}
			</if>
		AND status_l_sub = #{status}
		AND dept_id=#{deptId}
		</where>
		order by author_name, r_from_date
	</select>


	<select id="getReportsByContentId" resultType="com.bio.sys.domain.ReportDO">
		select * from report where content_id=#{contentId}
	</select>

	<select id="getThisWeekReportByDept" resultType="com.bio.sys.domain.ReportDO">
		SELECT *
		FROM
		report
		WHERE
		dept_id = #{deptId}
		AND YEARWEEK(date_format(r_from_date,'%Y-%m-%d'),1) = YEARWEEK(now(),1)
		AND YEARWEEK(date_format(r_to_date,'%Y-%m-%d'),1) = YEARWEEK(now(),1)
	</select>

	<select id="getThisWeekReportByAuthorId" resultType="com.bio.sys.domain.ReportDO">
		SELECT *
		FROM
		report
		WHERE
		author_id = #{authorId}
		AND YEARWEEK(date_format(r_from_date,'%Y-%m-%d'),1) = YEARWEEK(now(),1)
		AND YEARWEEK(date_format(r_to_date,'%Y-%m-%d'),1) = YEARWEEK(now(),1)
	</select>

	<select id="getMonthAVGReportScore" resultType="com.bio.sys.vo.ReportScoreVO">
		SELECT
        author_id,
        ANY_VALUE(author_name) as author_name,
        ANY_VALUE(dept_id) as dept_id,
        ANY_VALUE(dept_name) as dept_name,
        AVG(score) as score
        FROM
        report
        WHERE
        status_l_sub=1
        And (date_format(r_from_date,'%Y-%m')=date_format(now(),'%Y-%m')
        OR date_format(r_to_date,'%Y-%m')=date_format(now(),'%Y-%m'))
        group by author_id;
	</select>

	<update id="updateBatch" parameterType="java.util.List" >
		<foreach collection="reportDOList" item="item" index="index" open="" close="" separator=";">
			update report
			<set >
				<if test="item.authorId != null" >
					author_id = #{item.authorId},
				</if>
				<if test="item.authorName != null" >
					author_name = #{item.authorName},
				</if>
				<if test="item.deptId != null" >
					dept_id = #{item.deptId},
				</if>
				<if test="item.deptName != null" >
					dept_name = #{item.deptName},
				</if>
				<if test="item.parentDeptId != null" >
					parent_dept_id = #{item.parentDeptId},
			</if>
				<if test="item.rFromDate != null" >
					r_from_date = #{item.rFromDate},
				</if>
				<if test="item.rToDate != null" >
					r_to_date = #{item.rToDate},
				</if>

				<if test="item.title != null" >
					title = #{item.title},
				</if>
				<if test="item.contentId != null" >
					content_id = #{item.contentId},
				</if>
				<if test="item.comment != null" >
					comment = #{item.comment},
				</if>
				<if test="item.score != null" >
					score = #{item.score},
				</if>

				<if test="item.suggest != null" >
					suggest = #{item.suggest},
				</if>
				<if test="item.rCreateDate != null" >
					r_create_date = #{item.rCreateDate},
				</if>
				<if test="item.rChgDate != null" >
					r_chg_date = #{item.rChgDate},
				</if>

				<if test="item.statusMod != null" >
					status_mod = #{item.statusMod},
				</if>
				<if test="item.statusMSub != null" >
					status_m_sub = #{item.statusMSub},
				</if>
				<if test="item.statusLSub != null" >
					status_l_sub = #{item.statusLSub},
				</if>
			</set>
			where id = #{item.id}
		</foreach>
	</update>



	<select id="getReportsByAutName" resultType="com.bio.sys.domain.ReportDO">
		select * from report where author_name = #{AutName}
	</select>

	<select id="getReportsAll" resultType="com.bio.sys.domain.ReportDO">
		select * from report where status_l_sub=1 order by dept_name,author_name, r_from_date
	</select>
	
	<select id="getReportsByMonth" resultType="com.bio.sys.domain.ReportDO">
		select * from report where ((month(r_from_date)=#{date} and year(r_from_date)=#{date1})or (month(r_to_date)=#{date} and year(r_to_date)=#{date1})) and dept_id=#{deptId} and status_l_sub=1 order by author_name, r_from_date
	</select>

	<select id="getReportsByMonth1" resultType="com.bio.sys.domain.ReportDO">
		select * from report where ((month(r_from_date)=#{date} and year(r_from_date)=#{date1})or (month(r_to_date)=#{date} and year(r_to_date)=#{date1})) and status_l_sub=1 order by dept_name,author_name, r_from_date
	</select>

	<select id="getReportsQuery1" resultType="com.bio.sys.domain.ReportDO">
		SELECT
		*
		FROM
		report
		<where>
			<if test="fromdate!=null">
				r_from_date &gt;= #{fromdate}
			</if>
			<if test="todate!=null">
				AND r_to_date &lt;= #{todate}
			</if>
			AND status_l_sub = #{status}
		</where>
		order by dept_name,author_name, r_from_date
	</select>

	<select id="getDelayPer" resultType="com.bio.sys.vo.ReportScoreVO">
        select author_id,ANY_VALUE(author_name) as author_name,ANY_VALUE(dept_id) as dept_id,ANY_VALUE(dept_name) as dept_name, sum(r_chg_date > date_sub(r_to_date,INTERVAL 12 HOUR)) as score
       from report where status_m_sub=1 and (date_format(r_from_date,'%Y-%m')=date_format(now(),'%Y-%m') or date_format(r_to_date,'%Y-%m')=date_format(now(),'%Y-%m')) group by author_id order by score desc;
	</select>

</mapper>