<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bio.sys.dao.SummaryDao">

	<select id="selectListReportDOs"
		resultType="com.bio.sys.domain.ReportDO">
		SELECT
		b.*
		FROM
		sys_user AS a,
		report AS b
		WHERE
		a.id =
		b.author_id
		AND a.STATUS = 1
		AND b.dept_id = #{deptId}
		AND b.r_from_date
		= #{fromDate}
		AND b.r_to_date = #{toDate}
	</select>

	<select id="selectList" resultType="com.bio.sys.domain.SummaryDO">
		SELECT * FROM report_summary where r_from_date= #{fromDate} AND r_to_date = #{toDate}
	</select>

	<select id="getSummaryCountByTitle" resultType="int">
		select count(*) from report_summary where title = #{value}
	</select>

	<select id="getThisWeekSummary" resultType="com.bio.sys.domain.SummaryDO">
		SELECT rs.* FROM report_summary rs, sys_dept sd
		WHERE
	 YEARWEEK(date_format(r_from_date,'%Y-%m-%d'),1) = YEARWEEK(DATE_SUB(curdate(),INTERVAL 3 DAY) ,1)
		AND YEARWEEK(date_format(r_to_date,'%Y-%m-%d'),1) = YEARWEEK(DATE_SUB(curdate(),INTERVAL 3 DAY) ,1)
		AND rs.dept_id=sd.id AND sd.del_flag= 1
		ORDER BY order_num
	</select>

	<select id="getReportsByMonth1" resultType="com.bio.sys.domain.SummaryDO">
		select * from report_summary where ((month(r_from_date)=#{date} and year(r_from_date)=#{date1})or (month(r_to_date)=#{date} and year(r_to_date)=#{date1})) and status=1 order by dept_name, r_from_date
	</select>



</mapper>