
<form id="exportForm"

      action="${pageContext.request.contextPath}/downLoad/exportFile.action"

      οnsubmit="return download();" method="post">

    <div class="form-group" id="passwordDiv">

        <label>数据文件支持:excel.</label><br> <br> 操作类型:<input

            name="export_type" id="export_type" placeholder=""

            class="abc input-default" value=""> <br> 文件命名规则:<input

            name="export_name" id="export_name" placeholder=""

            class="abc input-default" value=""> 生效时间:<input

            name="export_time" id="export_time" placeholder="请输入日期"

            class="laydate-icon"

            onClick="laydate({istime: true, format: 'YYYY/MM/DD'})">

    </div>

    <div class="progress progress-striped active" style="display: none">

        <div id="progressBar_export" name="progressBar_export"

             class="progress-bar progress-bar-info" role="progressbar"

             aria-valuemin="0" aria-valuenow="0" aria-valuemax="100"

             style="width: 0%"></div>

    </div>

    <div class="form-group">

        <input id="exportBtn" type="submit" name="exportBtn"

               class="btn btn-success" value="导出文件" />

    </div>

</form>

<script>
    function download(){



        var name=$("#export_name").val();

        if(name==''){

            alert("文件的命名规则不能为空!");

            return false;

        }

        var type=$("#export_type").val();

        if(type==''){

            alert("操作类型不能为空!")

            return false;

        }

        var time=$("#export_time").val();

        if(time==''){

            alert("生效时间不能为空");

            return false;

        }

        return true;

    }

</script>


